@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

@layer components {
  .gradient-bg {
    @apply bg-gradient-to-br from-hirovo-blue to-hirovo-teal;
  }

  .btn-gradient {
    @apply bg-gradient-to-br from-hirovo-blue to-hirovo-teal;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.2s ease-out;
}
